.website-editor {
    display: flex;
  }
  
  .website-container {
    border-right: 1px solid rgba(0,0,0,.1);
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .add-website {
    margin-bottom: 20px;
  }

  .passwords {
    display: flex;
  }
  
  .del-btn{
    float: right;
    padding-top: 0.1%;
    padding-right: 0.1%;
  }
  
  .add-passwords {
    margin-bottom: 20px;
  }

  .add-module{
    border: 2px solid rgba(0,0,0,.1);
  }

  .each-module{
    margin-top: 5%;
    border: 2px solid rgba(0,0,0,0.1);
  }

  .right-side{
    padding-left: 10%;
    padding-right: 10%;
  }

  .d-block{
    margin-top: 0px !important;
  }